* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 30px;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #2222;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
}

section {
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #e6e3e3;
    font-size: 20%;

}

section p {
    margin: 10px;
}

ul {
    margin-left: 10px;
}

footer {
    font-size: .9rem;
    text-align: center;
}